.container.coding__container {
    width: 40%;
    padding: 4rem;
}

.coding__project {
    background-color: var(--color-bg);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}