.header {
    margin: auto;
    max-width: 90%;
}

h1 {
    text-align: center;
}

/* Reset */
*:before,
*:after {
    content: '';
}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 90%;
    background-position: 50%;
    box-sizing: border-box;
}

.fancy_hr {
    height: 3px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

img {
    width: 100%;
}