/* =====================
  General Styles
===================== */
html { font-size: 110%; }
html, body {
  height: 100%;
  width: 100%;
}
body {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-family: 'Knewave', cursive;
  font-size: 3rem;
  line-height: 0.4;
  margin-bottom: 50px;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.3rem;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
}

h4 {
  color: #9da7a6;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5;
}
small {
  line-height: 1;
}
a {
  color: olivedrab;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}
a:focus,
a:hover {
  background-color: olivedrab;
  color: #fffefd;
}
hr {
  border-color: #cdd1cf;
  margin: 30px 0 60px;
}

/* =====================
  Navbar Styles
===================== */
.navbar-default {
  background-color: transparent;
  border: none;
  height: 80px;
  left: 0;
  margin-bottom: 0;
  padding: 0 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}
.navbar-header {
  height: 80px;
}
.navbar-nav {
  margin-bottom: 0;
  margin-top: 0;
}
.navbar-brand,
.navbar-nav > li > a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-brand {
  font-size: 1.5rem;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  opacity: 0;
  overflow: hidden;
  text-transform: uppercase;
  transition: opacity 0.5s ease-in-out;
}
.navbar-brand .logo {
  margin-right: 15px;
  margin-top: -12px;
  max-height: 90px;
}
.navbar-brand span {
  color: olivedrab;
}
.navbar-nav > li > a,
.navbar-nav > li > button {
  color: #6b7a78;
  height: 36px;
  line-height: 36px;
  margin-top: 22px;
}
.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: olivedrab;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: olivedrab;
  text-decoration: underline;
}

/* Fixed Menu */
.menu-fixed {
  background-color: #fffefd;
  background-color: rgba(255,254,253,0.97);
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(8,33,30,0.15);
  height: 60px;
  padding-top: 0;
  position: fixed;
  transition: background-color 0.5s ease-in-out,
              box-shadow 0.5s ease-in-out;
}
.menu-fixed .navbar-header {
  height: 60px;
}
.menu-fixed .navbar-toggle,
.menu-fixed .navbar-nav > li > a {
  margin-top: 13px;
}
.menu-fixed .navbar-brand {
  display: block;
  margin-top: 0;
  opacity: 1;
}

/* =====================
  Jumbotron Styles
===================== */
.jumbotron {
  background: white;
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 510px;
  position: relative;
  width: 100%;
}
.jumbotron .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.jumbotron .row {
  padding-bottom: 45px;
}
.jumbotron .logo {
  max-width: 150px;
  width: 80%;
}
.jumbotron .title {
  color: black;
}
.jumbotron p {
  margin: 0px;
}

/* =====================
  Containers
===================== */
section.row,
footer.row {
  padding: 30px 30px 60px;
}

/*** Modal ***/
.modal-dialog.wide {
  width: 90%;
}
.modal-dialog.wide .row {
  margin: 0 0 30px;
}
.modal-dialog.wide .row .row {
  margin-left: -15px;
  margin-right: -15px;
}
.modal-header {
  border: none;
  padding: 30px 30px 0;
}
.modal-header .close {
  font-size: 2rem;
}
.modal-content {
  background-color: #fffefd;
  border: none;
  box-shadow: 0 3px 6px rgba(8,33,30,0.2);
}
.modal-body {
  padding: 30px;
}
.modal-body li {
  margin-bottom: 9px;
}
.modal-footer {
  padding: 30px 0 15px;
}
/* Fade Up Animation */
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, 100vh, 0);
  -ms-transform: translate3d(0, 100vh, 0);
  transform: translate3d(0, 100vh, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-backdrop {
  background-color: #fffefd;
  z-index: 1025;
}
.modal-backdrop.in {
    opacity: 0.9;
}

/* =====================
  Buttons
===================== */
.td-btn {
  padding: 12px 36px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}
.td-btn + .td-btn {
  margin-left: 6px;
}
.td-btn.small {
  font-family: 'Work Sans', helvetica, sans-serif;
  font-size: 0.7rem;
  padding: 9px 15px 8px;
}
.outline {
  background-color: transparent;
  border: 2px solid black;
  color: black;
}
.outline:focus,
.outline:hover {
  background-color: #9da6a4;
  color: black;
}
.outline.green {
  border-color: olivedrab;
  color: olivedrab;
}
.outline.green:focus,
.outline.green:hover {
  background-color: olivedrab;
  color: #fffefd;
}


/* Social Icons */
.social {
  display: inline-block;
  transition: box-shadow 0.2s ease-in-out,
              transform 0.2s ease-in-out;
  margin-top:50px;
  width:auto;
  margin-left: 3px;
}


/* =====================
  Icons and Images
===================== */
.icon {
  max-height: 90px;
}
.icon + p { 
  margin-top: 15px;
}
/* Profile Pic */
.profile {
  margin: 0 15px 0 0;
  border: black solid 5px;
}

/* =====================
  Resume Modal
===================== */
#resumeModal h4 {
  margin-top: 0;
}
.year {
  text-align: right;
}

/* =====================
  Portfolio Projects
===================== */
#projects .carousel-control {
  background: none;
  color: black;
  font-size: 2rem;
  margin-top: 150%;
  opacity: 1;
  width: 100%;
  transition: all 0.2s ease-in-out;
  text-shadow: none;
}
#projects .carousel-control:focus,
#projects .carousel-control:hover {
  color: olivedrab;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#projects .carousel-inner {
  overflow: inherit;
}
#projects .carousel-inner img {
  width: 100%;
}
#projects .carousel-caption {
  bottom: inherit;
  left: inherit;
  position: relative;
  right: inherit;
  text-align: left;
  text-shadow: none;
}

.card h3 {
  margin-top: 0;
  color: black;
}
.card h4 {
  font-size: 0.8rem;
}
#portfolio .carousel-indicators {
  bottom: 0;
  position: relative;
}
#portfolio .carousel-indicators li {
  border-radius: 20px;
  height: 15px;
  width: 15px;
}
#portfolio .carousel-indicators li.active {
  height: 17px;
  width: 17px;
}
/*** Project Modals ***/
.hero {
  margin: 30px auto;
  max-width: 900px;
  width: 100%;
}
.label.tag {
    background-color: white;
    border-radius: 0;
    font-weight: normal;
}
/* To override button alignment in modals */
.center {
  text-align: center;
}

/* =====================
  Other Styles
===================== */
.mb-0 {
  margin-bottom: 0;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-30 {
  margin-top: 30px;
}
.bg-shadow {
  box-shadow: 0 1px 3px rgba(8,33,30,0.5);
}
.bg-white {
  background-color: #fffefd;
  position: relative;
}

/* main content */
.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
  row-gap: 5px;
  column-gap: 10px;
}

.grid-item {
  text-align: left;
  padding: 50px 30px;
}

.grid-item img {
  width: 100%;
}

.gray {
  color: #9da6a4;
}
.dashed {
  border-top: 2px dashed #ffce3f;
}
/*** Contact Form ***/
.checkbox {
  display: none;
}

/* =====================
  Media Queries
===================== */
@media (max-width: 1199px) {
  /* Center class for medium screens */
  .md-center { text-align: center; }
}
@media (max-width: 991px) {
  /*** Resume ***/
  .year {
    text-align: left;
  }
  /*** Portfolio ***/
  #projects .carousel-control {
    margin-top: 300%;
  }
  #projects .carousel-inner img {
    max-width: 480px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  /*** Page Elements ***/
  section .row [class^="col-sm-"] + [class^="col-sm-"],
  section .row [class*=" col-sm-"] + [class*=" col-sm-"] {
    margin-top: 30px;
  }
  /*** Jumbotron ***/
  .jumbotron .logo {
    max-width: 120px;
  }
  /*** Mobile Nav ***/
  .navbar-toggle {
    height: 36px;
    margin-bottom: 22px;
    margin-top: 22px;
  }
  .navbar-toggle .glyphicon {
    color: #6b7a78;
    top: -2px;
  }

  .navbar-collapse {
    background-color: #fffefd;
    background-color: rgba(255,254,253,0.97);
    border: none;
    box-shadow: 0 2px 8px rgba(8,33,30,0.2);
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  .navbar-collapse .outline.pink {
    margin: 15px auto 30px;
    max-width: 150px;
  }
  /*** Portfolio ***/
  #projects .carousel-control {
    margin-top: 300%;
  }
  #projects .card {
    text-align: center;
  }
}

/* Audio Player */

.audio-item {
  width: 70%;
  margin: auto;
  padding: 40px;
}

.playr {
  width: 100%;
  background-color: white;
  border: 3px solid black;
  padding: 10px;
  color: black;
}

.playr-ui {
  display: flex;
  align-items: stretch;
}

.playr-controls {
  width: 10%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0 15px;
  position: relative;
}

.playr-ui.volume-controls .playr-panel {
  width: 70%;
}

.playr-controls button {
  color: black;
  background-color: transparent;
  border: medium none;
  padding: 0;
  cursor: pointer;
  font-size: 28px;
  line-height: 1;
}

.playr-controls button:hover {
  color: olivedrab;
}

.playr-controls button::after {
  font-family: "Material Design Icons";
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-play::after {
  content: "";
}

.playr.playing .playr-play::after {
  content: "";
}

.playr-fastforward::after {
  content: "";
}

.playr-rewind::after {
  content: "";
}

.playr-rewind::after,
.playr-fastforward::after {
  font-size: 21px;
}

.playr-progress {
  background-color: grey;
  height: 4px;
  bottom: 2px;
  left: 15px;
  position: absolute;
  width: calc(100% - 30px);
  cursor: pointer;
}

.playr-progress-bar {
  background-color: olivedrab;
  height: 100%;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 0 0;
  width: 100%;
}

.playr-duration,
.playr-filename {
  font-size: 12px;
  position: absolute;
  top: 0;
  width: 50%;
  font-weight: 600;
}

.playr-filename {
  left: 15px;
  text-align: left;
  left: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playr-duration {
  right: 15px;
  text-align: right;
}

.playr-volume {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-volume-box.hidden {
  background-color: #38354a;
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 35px;
  display: none;
}

.playr-volume-box {
  background-color: lightgray;
  height: 4px;
  width: 100%;
  cursor: pointer;
}

.playr-volume-box span {
  display: block;
  background-color: olivedrab;
  height: 100%;
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-origin: 0 0 0;
}

/* compact */
.playr.compact .playr-rewind,
.playr.compact .playr-fastforward {
  display: none;
}

.playr-filename.overflow span {
  animation: 5000ms linear 0ms normal forwards infinite running scroll;
  display: inline-block;
  margin-right: 0;
  padding-right: 100%;
  transform: translate3d(0px, 0px, 0px);
}

@keyframes scroll {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}

/* Photo Gallery CSS */
/* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}


/* Photo Card Styles */

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
  padding: 30px;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
  border: 3px black solid;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}