body {
    font-weight: 300;
    font-family: 'Georgia', Times, serif;
}

@media (min-width: 600px) {
    .mobile_only {
        display: none;
    }
}

#logo {
    /* how to center a logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    color:orangered;
}

.menu {
    font-weight: 600;
}

nav {
    font-family: Helvetica, Arial, sans-serif;
    color: orangered;
    text-align: center;
    padding: 20px 0px;
}

hr {
    border-top: 1px, solid, #cccccc;
}

.category {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #666666;
}

#subhead {
    font-family: Helvetica, Arial, sans-serif;
}

img {
    /* This can remove unexpected space on either side */
    display: block; 
    max-width: 100%;
    margin: auto;
}

figure {
    display: block;
    margin: 15px 0px;
    padding: 15px 0px;
}

#small_cap {
    font-size: 0.8em;
    font-family: Helvetica, Arial, sans-serif;
}

.link_pic {
    border-bottom: solid #cccccc;
}

h1 {
    font-size: 3em;
}

#byline {
    font-family: Helvetica, Arial, sans-serif;
    color:#666666;
}

p {
    margin: 20px, 0px;
    text-align: left;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.other_stories_title {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 10px 0px;  
}

footer {
    background-color: #222222;
}

.copyright {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}